#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #212529;
    color: #5ba092;
}

#footer h3 {
    font-size: 16px;
}